.workshop {
  padding-bottom: 120px;
  &__inner {
    display: -webkit-flex;
    display: flex;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__title {
    width: 130px;
    position: relative;
  }
  &__content {
    width: calc(100% - 130px);
    min-height: 180px;
  }
  &__contentInner {
    max-width: 922px;
    margin-left: 100px;
  }
  &__month {
    padding-left: 35px;
    padding-top: 61px;
    padding-bottom: 31px;
    &:first-child {
      padding-top: 0;
    }
  }
  &__schedule {
    margin-left: 190px;
  }
}
