.header#header
  .header__content
    img.logo(src= PUBLIC_URL + "/images/portfolio/logo.svg" alt="ロゴ" )
  .header__content
    .menu
      .menu__inner
        .menu__item#studiesMenu STUDIES
        .menu__item#helloMenu HELLO
        .menu__item#contactMenu CONTACT
