.content#hello
  .title
    .title__text HELLO
  .hello
    img.hello__img(src= PUBLIC_URL + "/images/portfolio/icon.svg" alt="ロゴ" )
    .hello__inner
      .hello__textWrapper
        .hello__name SAKI HIROSE
        .hello__text 1992年 石川県生まれ。
        .hello__text デザインとイラストが上手くなりたいしがないOL。
        .hello__text 駅ビルと音楽とスイカが好き。
      .hello__contactWrapper
        .hello__contactTitle CONTACT
        .hello__contactBody mn.qdbp@gmail.com
