.content#studies
  .title
    .title__text STUDIES
  .studies
    .studies__itemInner
      a.studies__item(href= PUBLIC_URL + "/shop1/base.html" target="_blank")
        img(src= PUBLIC_URL + "/images/portfolio/shop1.svg")
      a.studies__item(href="#")
        img(src= PUBLIC_URL + "/images/portfolio/studies_default.svg")
      a.studies__item(href="#")
        img(src= PUBLIC_URL + "/images/portfolio/studies_default.svg")
      a.studies__item(href="#")
        img(src= PUBLIC_URL + "/images/portfolio/studies_default.svg")
    .studies__itemInner
      .studies__item
      .studies__item
      .studies__item
      .studies__item
