extends ../pug/layouts/layout

block variables
  -
    var title = 'トップ';
    var description = '説明';

block content
  .test
    .test__title ...
    .test__image
    a(href= PUBLIC_URL +"/shop1/base.html") SHOP1

block page_js
  script(src= PUBLIC_URL + '/js/main.js')
