doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500&display=swap" rel="stylesheet")
    link(href= PUBLIC_URL + "/css/portfolio.css" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    script(src= PUBLIC_URL + "/js/portfolio/main.js")
    title SAKI HIROSE

  body
    include includes/header
    include includes/studies
    include includes/hello
