extends ./templates/_layout

block variables
  -
    var appId = 'top';  // JSのアプリ起動に使われるID名（使わない場合は空文字）
    var title = 'トップ';
    var description = '説明';

block content
  p test
  a.test__title(href="hoge.html") タイトル
  img(src="../materials/home.svg")
  div(data-src="../materials/home.svg")
