.buttonHamburger {
  position: relative;
  width: 35px;
  height: 24px;
  cursor: pointer;
  z-index:5000;
  &__twoLine {
    position: relative;
    width: 35px;
    height: 24px;
    cursor: pointer;
    &--top {
      top: 5px;
      height: 1px;
      background-color: #212121;
      border: none;
      width: 25px;
      font-size: 0;
      position: absolute;
      left: 5px;
      transition: all 300ms ease-in-out;
    }
    &--bottom {
      top: 17px;
      height: 1px;
      background-color: #212121;
      border: none;
      width: 25px;
      font-size: 0;
      position: absolute;
      left: 5px;
      transition: all 300ms ease-in-out;
    }
  }
}
