.closeButton {
  position: relative;
  width: 35px;
  height: 24px;
  cursor: pointer;
  &__line {
    height: 1px;
    background-color: #212121;
    border: none;
    width: 25px;
    font-size: 0;
    position: absolute;
    left: 5px;
    transition: all 300ms ease-in-out;
    &--1 {
      background-color: #FFF;
      top: 12px;
      transform: rotate(45deg);
    }
    &--2 {
      background-color: #FFF;
      top: 12px;
      transform: rotate(-45deg);
    }
  }
}
