.doubleLineTitle {
  position: absolute;
  width: 80px;
  height: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  right: 0;
  top: 300px;
  &__text {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 300;
  }
}
