.scheduleItem {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #707070;
  padding-bottom: 17px;
  padding-top: 17px;
  &__date {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    width: 38px;
  }
  &__title {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    width: calc(100% - 38px - 170px - 20px - 110px - 40px);
  }
  &__shop {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    width: 170px;
    margin-left: auto;
    padding-left: 20px;
  }
  &__place {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    width: 110px;
    text-align: right;
    padding-right: 40px;
  }
}
