.menu {
  visibility: hidden;
  opacity: 0;
  z-index: 5000;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212122;
  transition: all 300ms ease-in-out;
  &__inner {
    width: 95%;
    height: calc(100% - 66px);
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    padding-top: 66px;
  }
  &__left {
    width: 50%;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  &__leftInner {
    margin-top: -10px;
  }
  &__right {
    width: 50%;
    border-top: 1px solid #FFF;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  &__rightInner {
    margin-top: -20px;
  }
  &__list {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  &__listItem {
    position: relative;
    margin-bottom: 45px;
  }
  &__sns {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 70px;
  }
  &__closeButtonInner {
    position: fixed;
    top: 22px;
    left: calc(2.5% + 5px);
  }
}
