@import 'components/shop1/atoms';
@import 'components/shop1/molecules';
@import 'components/shop1/organisms';
@import 'components/shop1/var';

body {
  background-color: #e6e0d7;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  color: #212121;
}
