doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500&display=swap" rel="stylesheet")
    link(href= PUBLIC_URL + "/css/shop1.css" rel="stylesheet")
    title SHOP1

  body
    include includes/header
    include includes/main
    .footer


    //- div.content
    //- p SHOP1 コンテンツ

    //- include includes/header.pug
    //- include includes/index.pug
    //- include includes/footer.pug
    //- include includes/menu.pug
