.main
  .main__inner
    img.image.image--mBottom30(src= PUBLIC_URL + "/images/shop1/main1.jpg" alt="トップ" )
    .topText
      .topText__inner
        .topText__text
          p トーストアンドバターは「ゲストと町のプレイヤーをつなぐカフェ」です。<br>
            | 定期的に町のナイスなプレイヤーがワークショップやイベントを開催します。<br>
            | 参加者とプレイヤーを随時募集しています。
    include workshop
