.workshop
  .workshop__inner
    .workshop__title
      h2.toppleTitle WORKSHOP
        span.toppleTitle--s トースターのワークショップ
      .doubleLineTitle
        p.doubleLineTitle__text VIEW ALL

    .workshop__content
      .workshop__contentInner
        .workshop__month
          p.text--b18 2020.5
        .workshop__schedule
          .scheduleItem
            a.scheduleItem__date 30
            a.scheduleItem__title そのままドライフラワーになるスワッグワークショップ
            a.scheduleItem__shop FlowerWorksSEKIKAWA
            a.scheduleItem__place 野々市店
          .scheduleItem
            a.scheduleItem__date 25
            a.scheduleItem__title 簡単タコスの作りかた
            a.scheduleItem__shop パン屋たね
            a.scheduleItem__place 野々市店
          .scheduleItem
            a.scheduleItem__date 08
            a.scheduleItem__title アイシングクッキーワークショップ
            a.scheduleItem__shop fluffy
            a.scheduleItem__place 野々市店
          .scheduleItem
            a.scheduleItem__date 01
            a.scheduleItem__title 【中止】押し花ジェルキャンドルランタンワークショップ
            a.scheduleItem__shop and candle
            a.scheduleItem__place 野々市店

        .workshop__month
          p.text--b18 2020.4
        .workshop__schedule
          .scheduleItem
            a.scheduleItem__date 30
            a.scheduleItem__title そのままドライフラワーになるスワッグワークショップ
            a.scheduleItem__shop FlowerWorksSEKIKAWA
            a.scheduleItem__place 野々市店
          .scheduleItem
            a.scheduleItem__date 25
            a.scheduleItem__title 簡単タコスの作りかた
            a.scheduleItem__shop パン屋たね
            a.scheduleItem__place 野々市店
          .scheduleItem
            a.scheduleItem__date 08
            a.scheduleItem__title アイシングクッキーワークショップ
            a.scheduleItem__shop fluffy
            a.scheduleItem__place 野々市店

        .workshop__month
          p.text--b18 2020.3
        .workshop__schedule
          .scheduleItem
            a.scheduleItem__date 30
            a.scheduleItem__title そのままドライフラワーになるスワッグワークショップ
            a.scheduleItem__shop FlowerWorksSEKIKAWA
            a.scheduleItem__place 野々市店
          .scheduleItem
            a.scheduleItem__date 25
            a.scheduleItem__title 簡単タコスの作りかた
            a.scheduleItem__shop パン屋たね
            a.scheduleItem__place 野々市店
          .scheduleItem
            a.scheduleItem__date 08
            a.scheduleItem__title アイシングクッキーワークショップ
            a.scheduleItem__shop fluffy
            a.scheduleItem__place 野々市店
          .scheduleItem
            a.scheduleItem__date 01
            a.scheduleItem__title 【中止】押し花ジェルキャンドルランタンワークショップ
            a.scheduleItem__shop and candle
            a.scheduleItem__place 野々市店
