.menu#menu
  .menu__closeButtonInner
    .closeButton#closeButton
      hr.closeButton__line.closeButton__line--1
      hr.closeButton__line.closeButton__line--2
  .menu__inner
    .menu__left
      .menu__leftInner
        .logo
          img.logo__menu(src= PUBLIC_URL + "/images/shop1/logo_white.svg" alt="ロゴ" )
        .menu__sns
          p.text--menu-s LINE
          p.text--menu-s INSTAGRAM
          p.text--menu-s FACEBOOK
    .menu__right
      .menu__rightInner
        ul.menu__list
          li.menu__listItem
            p.text--menu ABOUT
          li.menu__listItem
            p.text--menu SHOP LIST
          li.menu__listItem
            p.text--menu WORKSHOP
          li.menu__listItem
            p.text--menu NEW DROP
          li.menu__listItem
            p.text--menu NEWS
          p.text--menu-ss privacy policy
